body{
    background-image: url(../images/吾toy.png);
    margin-top: 150px;
    margin-bottom: 20px;
    align-items: center;
}

.store{
    width: 80%;
    margin-top: 15%;
    margin-left: 10%;
    border-style:solid;
    border-color:#8a9cad;
    border-width: 100%;
    height: 60%;
    box-sizing:border-box;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.75);

}

.logoback{
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 150px;
    margin: 20px 30px 0px 500px ;
}

.title{
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
    margin-left: 20px;    
}

.content{
    
    font-size: 30px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.store .name{
    font-size: 40px;
    text-align: right;
    margin-right:20px;
    margin-bottom: 0px;
    font-family: "DFKai-sb";
}

footer{
    position: absolute;
    margin-top: 9%;
    background-color: transparent;
    width: 100%;
    height: 50px;
    background-color: #454552;

    color: #fff;
    text-align: center;
}